<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paid Parking" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-white bg-gradient-to-r from-cyan-900 to-cyan-700">
    <header>
      <h1>Beers on Rails</h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Streets', streets_path %></li>
          <li><%= link_to 'About', about_page_path %></li>
        </ul>
      </nav>
    </header>
    <main class="container mx-auto mt-20 px-5 ">
        <%= yield %>
    </main>
  </body>
</html>
